.bgimage {
	background-image: url('../images/Background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.target {
	width: 900px;
	height: 600px;
}

#header {
	height: 20%;
	font-size: 4.5em;
	font-family: "Lucida Grande";
	text-align: center;
	text-shadow: 0 0 10px #fff, 0 0 20px #A3E01D, 0 0 30px #A3E01D, 0 0 40px
		#A3E01D, 0 0 70px #000000, 0 0 80px #000000;
}

.body {
	height: 80%;
	background: rgba(0, 0, 0, .0);
	border-radius: 10px;
}

.box-glow {
	background: #1c1c1c;
	color: #0099ff;
	/*     display: block; */
	/*    margin: 30px; */
	padding: 20px 10px;
	/*    text-align: center; */
	/*    width: 150px; */
	-moz-box-shadow: 0px 0px 15px #0099ff;
	-webkit-box-shadow: 0px 0px 15px #0099ff;
	box-shadow: 0px 0px 15px #0099ff;
}

.jira-status {
	background-color: #A12D91;
	background-position: right;
	color: white;
	text-align: center;
	font-size: .7em;
	font-weight: normal;
	display: inline-block;
	width: 150px;
	padding: 6px;
	box-shadow: 0px 0px 15px #000000;
	border-radius: 10px/100%;
	float: right;
	background: -webkit-gradient(linear, left top, left bottom, from(#FA1AF3),
		to(#700662) );
	background: -moz-linear-gradient(top, #FA1AF3, #700662);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA1AF3',
		endColorstr='#700662' );
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	font-weight: bold;
	float: right;
	margin: 10px -20px 0px 0px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #EBEBEB;
	border: solid 1px #524D48;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a),
		to(#f47a20) );
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a',
		endColorstr='#f47a20' );
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11),
		to(#f06015) );
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11',
		endColorstr='#f06015' );
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20),
		to(#faa51a) );
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20',
		endColorstr='#faa51a' );
}

.backgroundStyle{
	border-radius: 10px;
	background:black;
	background: rgba(0, 0, 0, .91);
	border:solid;
	font-family: "calibri";
	overflow : auto;
	border-spacing: 10px;
}
.secondContent{
	font-family: "calibri";
	color: white;
}

.ui-accordion .ui-accordion-header {
	display: block;
	background:#A3E058;
	background: rgba(163, 224, 88, .91);
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	padding: .5em .5em .5em .7em;
	zoom: 1;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
	color: white;
	display: block;
	background: rgba(0, 0, 0, .7);
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
	zoom: 1;
	-moz-box-shadow: 0px 0px 15px #0099ff;
	-webkit-box-shadow: 0px 0px 15px #0099ff;
	box-shadow: 0px 0px 20px #3D9948;
}

.ui-icon {
	width: 16px;
	height: 16px;
	zoom: 1.5;
	background-image: url(../images/ui-icons_222222_256x240.png)
		/*{iconsContent}*/;
}

.ui-state-default .ui-icon {
	background-image: url(../images/ui-icons_454545_256x240.png)
		/*{iconsDefault}*/;
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon
	{
	background-image: url(../images/ui-icons_222222_256x240.png)
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-accordion-header-status {
	background-color: black;
	width: 30px;
	height: 5px;
	background-position: right;
}

/* 
.button-strap {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	position: relative center;
	margin: 0 .5em .5em .5em;
	padding: .15em 1em;
	font-size: 14px;
	font-weight: bold;
	height:60px;
		color: #1c4257;
	background: #a3cde3;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9e0f5), to(#85b2cb));
	background: -moz-linear-gradient(top, #b9e0f5, #85b2cb);
	border: 1px solid #759bb1;
	border-top-color: #8ab0c6;
	border-bottom-color: #587e93;
	border-radius: .214em;
	-webkit-border-radius: .214em;
	-moz-border-radius: .214em;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
		-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
		-moz-box-shadow: 0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
	} */
.button-strap {
	font: 15px Calibri, Arial, sans-serif;
	/* A semi-transparent text shadow */
	/* text-shadow:1px 1px 0 rgba(255,255,255,.4); */
	height: 40px;
	/* Overriding the default underline styling of the links */
	text-decoration: none !important;
	white-space: nowrap;
	position: relative center;
	padding: 10px 20px;
	background-repeat: no-repeat;
	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */
	background-position: bottom left;
	background-image: url('../images/button_bg.png');
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	background-position: bottom left, top right, 0 0, 0 0;
	background-clip: border-box;
	/* Applying a default border raidus of 8px */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/* A 1px highlight inside of the button */
	-moz-box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 1px #fff inset;
	box-shadow: 0 0 1px #fff inset;
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	-webkit-transition: background-position 1s;
	-moz-transition: background-position 1s;
	transition: background-position 1s;
}

.button-strap:hover {
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
	background-position: top left;
	background-position: top left, bottom right, 0 0, 0 0;
}

.button-strap:active {
	/* Moving the button 1px to the bottom when clicked */
	bottom: -1px;
}

/* The three buttons sizes */
.button-strap.big {
	font-size: 30px;
}

.button-strap.medium {
	font-size: 20px;
}

.button-strap.small {
	font-size: 13px;
}

/* A more rounded button */
.button-strap.rounded {
	-moz-border-radius: 4em;
	-webkit-border-radius: 4em;
	border-radius: 4em;
}

/* Defining four button colors */

/* BlueButton */
.blue.button-strap {
	color: #000000 !important;
	border: 1px solid #84acc3 !important;
	/* A fallback background color */
	background-color: #48b5f2;
	/* Specifying a version with gradients according to */
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(89, 208, 244, 1) 0,
		rgba(89, 208, 244, 0) 100px ), -moz-linear-gradient(#4fbbf7, #3faeeb);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(89, 208,
		244, 1) ), to(rgba(89, 208, 244, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb) );
}

.blue.button-strap:hover {
	background-color: #63c7fe;
	background-image: url('../images/button_bg.png'),
		url('../images/../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(109, 217, 250, 1) 0,
		rgba(109, 217, 250, 0) 100px ), -moz-linear-gradient(#63c7fe, #58bef7);
	background-image: url('../images/../images/button_bg.png'),
		url('../images/../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(109, 217,
		250, 1) ), to(rgba(109, 217, 250, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7) );
}

/* Green Button */
.green.button-strap {
	color: #000000 !important;
	border: 1px solid #96a37b !important;
	background-color: #79be1e;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(162, 211, 30, 1) 0,
		rgba(162, 211, 30, 0) 100px ), -moz-linear-gradient(#82cc27, #74b317);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162, 211,
		30, 1) ), to(rgba(162, 211, 30, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317) );
}

.green.button-strap:hover {
	background-color: #89d228;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(183, 229, 45, 1) 0,
		rgba(183, 229, 45, 0) 100px ), -moz-linear-gradient(#90de31, #7fc01e);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183, 229,
		45, 1) ), to(rgba(183, 229, 45, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e) );
}

/* Orange Button */
.orange.button-strap { /* color:#693e0a !important; */
	border: 1px solid #bea280 !important;
	background-color: #e38d27;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(232, 189, 45, 1) 0,
		rgba(232, 189, 45, 0) 100px ), -moz-linear-gradient(#f1982f, #d4821f);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(232, 189,
		45, 1) ), to(rgba(232, 189, 45, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1982f), to(#d4821f) );
}

.orange.button-strap:hover {
	background-color: #ec9732;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(241, 192, 52, 1) 0,
		rgba(241, 192, 52, 0) 100px ), -moz-linear-gradient(#f9a746, #e18f2b);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241, 192,
		52, 1) ), to(rgba(241, 192, 52, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b) );
}

.gray.button-strap {
	color: #525252 !important;
	border: 1px solid #a5a5a5 !important;
	background-color: #a9adb1;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(197, 199, 202, 1) 0,
		rgba(197, 199, 202, 0) 100px ), -moz-linear-gradient(#c5c7ca, #92989c);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197, 199,
		202, 1) ), to(rgba(197, 199, 202, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c) );
}

.gray.button-strap:hover {
	background-color: #b6bbc0;
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-moz-radial-gradient(center bottom, circle, rgba(202, 205, 208, 1) 0,
		rgba(202, 205, 208, 0) 100px ), -moz-linear-gradient(#d1d3d6, #9fa5a9);
	background-image: url('../images/button_bg.png'),
		url('../images/button_bg.png'),
		-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202, 205,
		208, 1) ), to(rgba(202, 205, 208, 0) ) ),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9) );
}

#hor-minimalist-b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 10px;
	margin:auto;
	border-collapse: collapse;
	text-align: left;
	position: center;
}

#hor-minimalist-b th {
	font-size: 18px;
	font-weight: bold;
	color:#aeef33;

	padding: 20px 16px;
	text-align: center;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 1px #777;
}

#hor-minimalist-b td {
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	color: #F5F5F5;
	padding: 12px 16px;
	text-align: center;
}

#hor-minimalist-b tbody tr:hover td {
	color: #ffffff;
}


.box {
	background: #212121;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 100%;
	padding:20px 25px;
	background: -moz-radial-gradient(50% 46% 90deg, circle closest-corner, #242424,
		#090909);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424),
		to(#090909) );
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .50);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .50);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .50);
}



.a-btn{
	border: solid 1px #004F72;
	 border-radius:20px;
background-color: #3BA4C7;
background: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
background: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
background: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
background: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
background: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
-webkit-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
-moz-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
}


.a-btn-symbol{
    color:#ff000;
    font-size:15px;
    font-weight:bolder;
   text-shadow: 2px 2px 1px #595959;

}



.a-btn:hover{
    background:#fffff0;
    -webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}

.apple_overlay {
 
    /* initially overlay is hidden */
    display:none;
 
    /* growing background image */
    background-color:background: rgba(0, 0, 0, .7);;
 
    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;
 
    /* some padding to layout nested elements nicely  */
    padding:35px;
 
    /* a little styling */
    font-size:11px;
}
 
/* default close button positioned on upper right corner */

 
.apple_overlay .close {

    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}